<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eat Da Burger</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

<!--
Refused to apply style from 'http://localhost:3000/public/assets/css/burger_style.css'
because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict
MIME checking is enabled.
-->
    <link rel="stylesheet" type="text/css" href="public/assets/css/burger_style.css">
  
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-4">

          <!-- GET http://localhost:3000/public/assets/img/burgersmall.jpg 404 (Not Found) -->
          <img id="burgerpic" src="public/assets/img/burgersmall.jpg" width="77" height="81" />
          <p id="appname">Eat-Da-Burger!</p>
        </div>
      </div>

      <!-- The list of unconsumed burgers and "Devourit!" buttons in the left column -->
      <div class="row">
        <div class="col-md-3 offset-md-1" id="undevouredburgers">
          {{#each data.undevouredList}}
            <div class="undevouredtextdiv"><span class="undevouredtext">{{udtext}}</span></div>
          {{/each}}
        </div>

        <div class="col-md-1 offset-md-1" id="devouredbuttons">
          {{#each data.buttonList}}
            <button type="submit" class="btn btn-sm btn-outline-secondary" 
                    name="devoured#{{devid}}">Devour it!</button>
          {{/each}}
        </div>

        <!-- The list of cunsumed burgers in the right column -->
        <div class="col-md-3" id="devouredburgers">
          {{#each data.DevouredList}}
            <div class="devouredtextdiv"><span class="devouredtext">{{dtext}}</span></div>
          {{/each}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 offset-md-3">
          <form action="" method="POST">
            <input type ="text"   class="form-control form-control-lg" name="burgername" id="burgername" />
            <button type="submit" class="btn btn-primary btn-sm" name="submit" id="submit">Submit</button>
            <p id="instructions"
               class="form-text text-muted">Enter a burger you want to eat Click the "Submit button</p>
          </form>
        </div>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" 
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <!-- Main JS -->
<!-- <script src="js/main.js"></script> -->

  </body>
</html>
