    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-4">

          <img id="burgerpic" src="/assets/img/burgersmall.jpg" width="77" height="81" />
          <p id="appname">Eat-Da-Burger!</p>
        </div>
      </div>

      <!-- The list of unconsumed burgers and "Devour it!" buttons in the left column -->
      <div class="row">
        <form action="/api/update" method="POST">
          <div class="col-md-3 offset-md-1" id="undevouredburgers">
            {{#each data.undevouredList}}
              <div class="undevouredtextdiv"><span class="undevouredtext">{{udtext}}</span></div>
            {{/each}}
          </div>

          <div class="col-md-1 offset-md-1" id="devouredbuttons">
            {{#each data.buttonList}}
              <button type="submit" class="btn btn-sm btn-outline-secondary form-control" 
                      name="devoured#{{devid}}">Devour it!</button>
            {{/each}}
          </div>
        </form>

        <!-- The list of consumed burgers in the right column -->
        <div class="col-md-3" id="devouredburgers">
          {{#each data.devouredList}}
            <div class="devouredtextdiv"><span class="devouredtext">{{dtext}}</span></div>
          {{/each}}
        </div>
      </div>

      <!-- The form for adding a newly-ordered, unconsumed burger to the database -->
      <div class="row">
        <div class="col-md-7 offset-md-3">
          <form action="/api/add" method="POST">
            <input type ="text"   class="form-control form-control-lg" name="burgername" id="burgername" />
            <button type="submit" class="btn btn-primary btn-sm" name="submit" id="submit">Submit</button>
            <p id="instructions"
               class="form-text text-muted">Enter a burger you want to eat Click the Submit button</p>
          </form>
        </div>
      </div>
    </div>
